body {
    background-color: #161513;
    font-family: 'Plus Jakarta Sans Bold', sans-serif;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Untuk membuat konten berada di tengah vertikal */
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background: linear-gradient(45deg, #B16CEA, #FF5E69, #FF8A56, #FFA84B);
    color: #FFFFFF;
    border: none;
    margin: 10px; /* Agar tombol tidak saling menempel */
}

.button:hover {
    filter: brightness(90%);
}

h1 {
    text-align: center;
    background: linear-gradient(45deg, #B16CEA, #FF5E69, #FF8A56, #FFA84B);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

form input[type="file"],
form input[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background: linear-gradient(45deg, #B16CEA, #FF5E69, #FF8A56, #FFA84B);
    color: #FFFFFF;
    border: none;
    margin: 10px;
}

form input[type="file"]:hover,
form input[type="submit"]:hover {
    filter: brightness(90%);
}

.result-container {
    text-align: center;
    margin-top: 20px;
}

form small {
    display: block;
    color: #FFFFFF;
    margin-top: 5px;
}

.result-container h2 {
    margin-bottom: 10px; /* Tambahkan margin di bagian bawah h2 */
}

.result-image {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

.download-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background: linear-gradient(45deg, #B16CEA, #FF5E69, #FF8A56, #FFA84B);
    color: #FFFFFF;
    border: none;
    margin-top: 10px;
}

.download-button:hover {
    filter: brightness(90%);
}
